#cube .front {
  transform: translateZ(36px);
}

#cube .back {
  transform: rotateX(-180deg) translateZ(36px);
}

#cube .right {
  transform: rotateY(90deg) translateZ(36px);
}

#cube .left {
  transform: rotateY(-90deg) translateZ(36px);
}

#cube .top {
  transform: rotateX(90deg) translateZ(36px);
}

.top:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  transform: translate(-50%, -50%);
  background-image: url("../../assets//Dice-icon.png");
  background-repeat: no-repeat;
  z-index: -1;
  }

.right:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  transform: translate(-50%, -50%);
  background-image: url("../../assets//Dice-icon.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  transform: translate(-50%, -50%);
  background-image: url("../../assets//Dice-icon.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.front:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  transform: translate(-50%, -50%);
  background-image: url("../../assets//Dice-icon.png");
  background-repeat: no-repeat;
  z-index: -1;  
}

.back:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  transform: translate(-50%, -50%);
  background-image: url("../../assets//Dice-icon.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.top:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  transform: translate(-50%, -50%);
  background-image: url("../../assets//Dice-icon.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.bottom:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  transform: translate(-50%, -50%);
  background-image: url("../../assets//Dice-icon.png");
  background-repeat: no-repeat;
  z-index: -1;
}

#cube .bottom {
  transform: rotateX(-90deg) translateZ(36px);
}

#cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

#cube div {
  background: linear-gradient(to bottom, #d1d1d1 0%, #ffffff 100%);
  display: block;
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 4px;
  padding: 18px 0;    
  backface-visibility: hidden;
}

.cube-wrapper {
  width: 72px;
  height: 72px;
  top: 72px;
  margin: 0 auto;
  transition: transform 0.15s;
  position: absolute;
  backface-visibility: hidden;
}

.cube-wrapper.jump {
  animation: jump 0.3s ease;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-11px);
  }
  60% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}

.dot {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background: #181a20;
  border-radius: 15px;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.33);
}

.front .dot1 {
  top: 30px;
  left: 30px;
}
.back .dot1 {
  top: 10px;
  left: 10px;
}
.back .dot2 {
  top: 49px;
  left: 49px;
}
.right .dot1 {
  top: 10px;
  left: 10px;
}
.right .dot2 {
  top: 30px;
  left: 30px;
}
.right .dot3 {
  top: 49px;
  left: 49px;
}
.left .dot1 {
  top: 10px;
  left: 10px;
}
.left .dot2 {
  top: 10px;
  left: 49px;
}
.left .dot3 {
  top: 49px;
  left: 10px;
}
.left .dot4 {
  top: 49px;
  left: 49px;
}
.top .dot1 {
  top: 10px;
  left: 10px;
}
.top .dot2 {
  top: 10px;
  left: 49px;
}
.top .dot3 {
  top: 30px;
  left: 30px;
}
.top .dot4 {
  top: 49px;
  left: 10px;
}
.top .dot5 {
  top: 49px;
  left: 49px;
}
.bottom .dot1 {
  top: 10px;
  left: 10px;
}
.bottom .dot2 {
  top: 10px;
  left: 30px;
}
.bottom .dot3 {
  top: 10px;
  left: 49px;
}
.bottom .dot4 {
  top: 49px;
  left: 10px;
}
.bottom .dot5 {
  top: 49px;
  left: 30px;
}
.bottom .dot6 {
  top: 49px;
  left: 49px;
}
