@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.img {
  cursor: pointer;
}

.img:active {
  animation: pulse-img 0.3s ease-out;
  transform-origin: center;
}